body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: clamp(40px, 6vw, 45px);
    width: auto;
}

.logo h1 {
    color: #333;
    font-size: clamp(1.4rem, 1.8vw, 1.5rem);
}

.container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 90%;
    max-width: 380px !important;
    height: fit-content;
    margin: 40px 10px;
}

.container h2 {
    font-size: clamp(1.4rem, 2.5vw, 1.9rem);
    font-weight: 800;
    margin-bottom: 10px;
    color: #444;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

form label {
    margin: 8px 0 3px;
    font-size: clamp(1rem, 2vw, 1.1rem);
    color: #555;
    font-weight: 500;
}

form input[type="email"],
form input[type="text"],
form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: clamp(0.9rem, 2vw, 1rem);
    width: 100%;
    box-sizing: border-box;
}

form input[type="submit"] {
    background: #4a69bd;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: clamp(1rem, 2vw, 1.1rem);
    transition: 0.3s ease;
    margin-top: 10px;
}

form input[type="submit"]:hover {
    background: #3b5396;
    transform: scale(1.03);
}

form input[type="submit"]:active {
    transform: scale(0.97);
}

form p {
    text-align: center;
    font-size: clamp(0.9rem, 2vw, 1rem);
    margin-top: 15px;
}

form a {
    color: #4a69bd;
    text-decoration: none;
    font-weight: 500;
}

form a:hover {
    text-decoration: underline;
}

span[id$="Alert"] {
    font-size: clamp(0.8rem, 2vw, 0.9rem);
    color: red;
    margin-left: 5px;
}

@media (max-width: 750px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
    }

    .container {
        padding: 20px;
        width: 90%;
        margin: 0 0;
    }

    .logo {
        position: static;
        justify-content: center;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .container {
        /* width: 90%; */
        padding: 15px;
        margin: 0 0;
    }

    .container h2 {
        font-size: 1.3rem;
    }

    /* form label,
    form input,
    form p {
        font-size: 1rem;
    } */

    form input[type="submit"] {
        padding: 10px;
        font-size: 1rem;
    }

    .logo h1 {
        font-size: 1.1rem;
    }
}
